@font-face{
	font-family: 'Mistral';
	src: url('../fonts/mistral/mistral.eot');
	src: url('../fonts/mistral/msttral.eot?iefix') format('eot'),
	url('../fonts/mistral/mistral.woff') format('woff'),
	url('../fonts/mistral/mistral.ttf') format('truetype'),
	url('../fonts/mistral/mistral.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'Kenyan Coffee';
	src: url('../fonts/kenyancoffe/kenyancoffee.eot');
	src: url('../fonts/kenyancoffe/kenyancoffee.eot?iefix') format('eot'),
	url('../fonts/kenyancoffe/kenyancoffee.woff') format('woff'),
	url('../fonts/kenyancoffe/kenyancoffee.ttf') format('truetype'),
	url('../fonts/kenyancoffe/kenyancoffee.svg#webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}